services:
  app:
    platform: linux/arm64
    build:
      context: .
      dockerfile: ./docker/Dockerfile

    tty: true

    volumes:
      - ./data/:/app/data:delegated
      - ./notebooks/:/app/notebooks:delegated
      - ./scripts/:/app/scripts:delegated

    ports:
      - "${JUPYTER_PORT}:${JUPYTER_PORT}"
      - "${TENSORBOARD_PORT}:${TENSORBOARD_PORT}"

    env_file:
      - ./.env

    environment:
      - MPLBACKEND=Agg

    shm_size: "2gb"

    command: >
      jupyter lab
      --ip 0.0.0.0
      --port=${JUPYTER_PORT}
      --no-browser
      --allow-root
      --ServerApp.root_dir=/app/notebooks
